GreeneryConsole/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://greeneryservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Greenery" />
  <xs:element name="AddGreeneryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Greenery" minOccurs="0" name="greeneryDb" nillable="true" type="q1:Greenery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGreeneryDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Greenery" minOccurs="0" name="GetAllDataResult" nillable="true" type="q2:ArrayOfGreenery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>