GreeneryConsole/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Greenery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Greenery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Greenery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Humidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Greenery" nillable="true" type="tns:Greenery" />
  <xs:complexType name="ArrayOfGreenery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Greenery" nillable="true" type="tns:Greenery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGreenery" nillable="true" type="tns:ArrayOfGreenery" />
</xs:schema>